@import '../../Main-colors.scss';

$margin-footer: 3px;
.Footer{
    margin-left: $margin-footer;
    margin-right: $margin-footer;
    margin-bottom: $margin-footer;
    width: calc(100% - 2*$margin-footer);
    height: calc(100% - $margin-footer);
    background-color: var(--color-black-3);
}