@import '../../Main-colors.scss';

$margin-navbar: 5px;
.navbar{
    display: flex;
    flex-direction: column;
    margin-top: $margin-navbar;
    margin-bottom: $margin-navbar;
    margin-left: $margin-navbar;
    border-radius: 5px;
    width: calc(100% - $margin-navbar);
    height: calc(100% - 2*$margin-navbar);
    background-color: var(--color-black-4);
}