@import '../../Main-colors.scss';

$margin: 10px;
.header{
    display: flex;
    align-items: center;
    margin: $margin;
    height: calc(100% - 2*$margin);
    background-color: var(--color-black-4);
    border-radius: 7px;

}



