@import '../../Main-colors.scss';

.Directory{
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    padding-left: 10px;
}

.directory__location{
    display: flex;
    align-items: center;
}

.location_row{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.location_name{
    cursor: pointer;
}

.location_name:hover{
    color: violet;
}