@import '../Main-colors.scss';

.Home{
    width: 100%;
    height: 100%;
}

.main_background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-body;
}

.background__icon{
    width: 25%;
}

.options_container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.option_users{
    background-color: aqua;
    width: 200px;
    height: 100px;
}