@import '../../Main-colors.scss';

//USE data-login-theme for a specific theme
//USE data-global-theme for a global theme

[data-login-theme='dark'],[data-login-theme='light']{
    --color-white-5: #E0E0E0;
    --color-white-1: #FFFFFF;
    --color-black-5: #282828;
    --color-black-4: #202020;
    --translucid-color: rgba(0, 0, 0, 0);
    --color-fire: #FC6706;
    --color-fire-2: #c44e00;
    --color-fire-3: #993d00;

    --login-border: #d6d6d6;
    --login-input-selector-hover: #F1F1F1;
    --login-input-selector-focused: var(--color-white-5);
    --login-input-background: var(--color-white-1);
    --login-input-label: var(--color-fire);
    --login-input-border: var(--color-fire);
    --login-emphasis-color: var(--color-fire);
    --login-emphasis-color-2: var(--color-fire-2);
    --login-emphasis-color-3: var(--color-fire-3);
    // --login-general-font: serif;
    // --login-label-font: serif;
    // --login-input-font: serif;
}

[data-login-theme='dark'] {
    --login-target: var(--color-black-4);
    --login-shadow: var(--translucid-color);
}
[data-login-theme='light'] {
    --login-shadow: var(--color-white-5);
    --login-target: var(--color-white-4);
}

@font-face {
    font-family: 'armalite_rifle';
    src: url('../../fonts/armalite_rifle.ttf') format('truetype');
}

/* -------------------------------------------- */
.shadow {
    box-shadow: 0px 3px 6px var(--login-shadow);
}

.button {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    outline: none;
}

.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: var(--login-input-background);
    color: var(--login-emphasis-color);
    font-family: var(--login-general-font);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


/* ------------------------------------------------------- */

.login_container {
    background-color: var(--login-target);
    border-radius: 25px;
    box-shadow: 0px 3px 6px var(--login-shadow);
    border: 1px solid var(--login-shadow);

    width: 500px;
    min-width: 360px;
    height: 600px;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .login_container {
        width: 100%;
        height: 100%;
        border-radius: 0px;

    }
}

.login__logo{
    width: 45%;
    margin-top: 6%;
}

.login__form{
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.login__fild{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}


.login__fild label{
    margin-left: 15px;
    color: var(--login-input-label);
    font-family: 'armalite_rifle', serif;
    font-size: 18px;
}

.form__username{ position: relative; }

.username__select_area, .form__password {
    border-style: solid;
    border-width: 1px;
    border-color: var(--login-input-border);
    border-radius: 10px;
    background-color: var(--login-input-background);
    width: 100% -15px;
    height: 35px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

.form__password{
    padding-right: 28px;
}

.username__select_area{
    position: relative;
}

.form__username input{
    width: 90%;
    padding: 0px;
    border-style: none;
    border-width: 0px;
}

.username__icon_select{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.username__icon_select img{
    width: 20px;
}

// Animations for select spin
.icon-motion-right {
    animation-name: icon-motion-right;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes icon-motion-right {
    to {
        transform: rotate(540deg);
    }
}

.icon-motion-left {
    animation-name: icon-motion-left;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes icon-motion-left {
    to {
        transform: rotate(-360deg);
    }
}



.options_area {
    position: absolute;
    align-content: center;
    background-color: var(--login-input-background);
    border-style: solid;
    border-width: 1px;
    border-color: var(--login-border);
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    max-height: 200px;
    animation-name: options_motion;
    animation-duration: 500ms;
    overflow: auto;
    font-family: var(--login-input-font);
    color: var(--login-emphasis-color);
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.options_area::-webkit-scrollbar {
    -webkit-appearance: none;
}

.options_area::-webkit-scrollbar:vertical {
    width: 1px;
}

@keyframes options_motion {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(0px);
    }
}

.select__option {
    border-radius: 10px;
    width: 92%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 7px;
    padding-left: 5px;
    cursor: pointer;
}

.select__option:hover {
    background-color: var(--login-input-selector-hover);
}

.focused {
    background-color: var(--login-input-selector-focused);
}	




.form__link {
    text-decoration: none;
    appearance: none;
    align-self: flex-end;
    margin: 5px 0px 0px 0px;
    color: var(--login-emphasis-color-3);
    cursor: pointer;
    font-family: var(--login-general-font);
}

.form__link:hover {
    color: var(--login-emphasis-color);
}

.form__btnsArea {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.form__btnEntry{
    border-color: var(--login-emphasis-color-2);
    color: var(--color-white-1);
    background-color: var(--login-emphasis-color-2);
    width: 200px;
    height: 50px;
    font-family: 'armalite_rifle', serif;
    font-size: 20px;
}

.form__btnEntry:hover {
    border-color: var(--login-emphasis-color);
    color: var(--login-input-background);
    background-color: var(--login-emphasis-color);
    box-shadow: 0px 3px 6px var(--login-shadow);
}