@import './Main-colors.scss';

.setOn{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(-100%);
}

.Main{
    height: 100%;
    width: 100%;
    position: relative;
}

.display_login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-body;
}.display_login-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-body-dark;
}

.display_loader-dark{
    background-color: $main-body-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: displayNone;
    animation-delay: 1500ms;
    animation-duration: 400ms;
    animation-fill-mode:forwards;
}.display_loader {
    background-color: $main-body;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: displayNone;
    animation-delay: 1500ms;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes displayNone {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

// .display_alertScreen{
    
// }





