/* COMON COLORS */
$color-green-cake: #26FF8B;
$color-green-primary: #00FF4C;
$color-green-menta: #6BAEA7;
$color-cyan-primary: #00FFF0;
$color-purple: #7040C4;
$color-magent: #BD31F8;
$color-pink-primary: #FF26A5;
// >>> Black Scale
$color-black-1: #000000;
$color-black-2: #101010;
$color-black-3: #181818;
$color-black-4: #202020;
$color-black-5: #282828;
$color-black-6: #303030;
$color-black-7-gray: #383838;
$color-black-8-gray: #404040;
$color-black-9-gray: #505050;
$color-black-10-gray: #606060; 
// >>> Wite Scale
$color-wite-11-gray: #707070;
$color-wite-10-gray: #808080;
$color-wite-9-gray: #909090;
$color-wite-8-gray: #B0B0B0;
$color-wite-7: #C0C0C0;
$color-wite-6: #D0D0D0;
$color-wite-5: #E0E0E0;
$color-wite-4: #E8E8E8;
$color-wite-3: #F0F0F0;
$color-wite-2: #F8F8F8;
$color-wite-1: #FFFFFF;
// -----------------------------------------------

/* ELEMENTS */
$main-body: #FFFFFF;
$main-body-dark: $color-black-2;

$target-login: #d6d6d6;
$target-login-dark: $color-black-3;
$background-login: #ffffff;
$color-select-hover: #F1F1F1;

$color-inputCard: #ffffff;
$color-mainCard: #f1f1f1;
$background-responsiva: #f8f8f8;
$color-ribbon: #ffffff;

$placeholder: #9292927a;
$color-text-resalted: $color-green-menta;
$color-resalted: $color-pink-primary;
$border: #d6d6d6;
$text: #9f9f9f;
$text-responsiva: #5e5e5e;
$text-target-title: #868686be;
$text-target-title-white: #ffffff;
$shadow: #e0e0e0;

$buttonsControls: #dbd9d9;
